body {
    background: black;
    font-family: "Times New Roman", Arial, serif;
    text-align: center;
    width: auto;
    height: auto;
}

#div_head {
    text-align: center;
    font-weight: bold;
}

.title1 {
    font-size: 3em;
    color: black;
    display: block;
    background-color: goldenrod;
    text-align: center;
    font-weight: bold;
}


/* ANIMAÇÃO DO TEXTO */

li {
    float: left;
    animation-duration: 3s;
    animation-name: slidein;
    color: black;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    background: goldenrod;
    list-style: none;
    margin: 10px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}